/VehiclePositions/Instructions for Firmware Candidates/solution.o
/VehiclePositions/Instructions for Firmware Candidates/solution.exe
/VehiclePositions/VehiclePositions_DataFile/
/VehiclePositions/VehiclePositions_Benchmark_Application (C#)/